@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Yellowtail&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	color: #fff; /* {{fontColor}} */
	font-size: 1rem;
}
body {
	background-color: #000; /* {{backgroundColor}} */
	overflow: hidden;
}

.main-container {
	position: relative;
	width: calc(1070px / 2);
	height: calc(992px / 2);
	/* background-image: url("https://raw.githubusercontent.com/ILostMyMedic/SE-widgets/master/leaderboard-small/assets/bg.svg"); */
	background-image: url("assets/bg.svg");

	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.table {
	width: 100%;
	height: 100%;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translateX(0) !important;
	margin-bottom: 1rem;
}
.header h1 {
	color: white;
	font-size: 1.5rem;
	margin-left: 35px;
	margin-top: 5px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: "Pacifico", cursive;
	letter-spacing: 0.25rem;
	text-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.5);
}
.row,
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1.35rem;
	transform: translateX(-120%);
}
.row {
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.col {
	display: flex;
	justify-content: center;
}
.bar {
	position: relative;
	width: calc(714px / 2);
	height: calc(123px / 2);
	background-image: url("https://raw.githubusercontent.com/ILostMyMedic/SE-widgets/master/leaderboard-small/assets/first.svg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.bar-content {
	width: 70%;
	/* background-color: blue; */
}

.details {
	display: flex;
	justify-content: center;
	flex-direction: column;

	margin-top: 0;
	text-align: left;
}
.animated {
	animation-name: rotateName;
	animation-duration: 45s;
	animation-iteration-count: infinite;
}
.details span {
	display: flex;
	align-items: center;
	justify-content: left;
	height: calc(123px / 2);
}

.username {
	font-size: 1.2rem;
	font-weight: 600;
}
.name {
	font-weight: 800;
	font-size: 2rem;
}

.score {
	align-items: center;
	position: relative;
	width: calc(267px / 2);
	height: calc(123px / 2);
	background-image: url("https://raw.githubusercontent.com/ILostMyMedic/SE-widgets/master/leaderboard-small/assets/points.svg");
	background-repeat: no-repeat;
	background-size: cover;
}
.points {
	display: inline-block;
	font-size: 3rem;
	text-align: center;
	font-weight: 600;
	color: #fff;
	padding: 0.2rem 0.5rem;
	border-radius: 0.2rem;
	margin: 0 auto;
	margin-bottom: 0.5rem;
	/* adjustment */
	margin-left: 3.25rem;
	margin-top: 5px;

	text-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.5);
}

/* row animation slide in */
@keyframes slideIn {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

.row:nth-child(n + 2) {
	animation: slideIn 1s ease forwards;
}
.row:nth-child(1) {
	animation-delay: 0.25s;
}
.row:nth-child(2) {
	animation-delay: 0.5s;
}
.row:nth-child(3) {
	animation-delay: 0.75s;
}
.row:nth-child(4) {
	animation-delay: 1s;
}
.row:nth-child(5) {
	animation-delay: 1.25s;
}

.row:nth-child(1) .animated {
	animation-delay: 0.5s;
}
.row:nth-child(2) .animated {
	animation-delay: 1s;
}
.row:nth-child(3) .animated {
	animation-delay: 1.5s;
}
.row:nth-child(4) .animated {
	animation-delay: 2s;
}
.row:nth-child(5) .animated {
	animation-delay: 2.5s;
}

@keyframes rotateName {
	0%,
	74% {
		transform: translate3d(0, 0, 0);
	}
	75%,
	99% {
		transform: translate3d(0, -50%, 0);
	}
	100% {
		transform: translate3d(0, 0%, 0);
	}
}
